<!DOCTYPE html>
<html lang="en">
<head>
     {{>headlinks}}
</head>
<body>
   {{>navbar}}
   
<!--main header-->
<div class="containter-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 max-auto">
            <div class="row">
                <!--left side div-->

                <div class="col-md-10 col-12 main_header_left algin-items-center">

                    <figure class="errimg"><img src="image/error-404.png" alt="Sayan" class="img-fluid" title="sayan chkraborty"></figure>

                
                     <p>Welcome to sayan world</p>
                    <h1>{{errormsg}}</h1>
                    <a href="/" ><button>go back </button></a>

                </div>
                <!--right side div-->

            </div>
</div>
</div>
</div>

<!--footer-->
{{>footer}}


   
</body>
</html>