<!DOCTYPE html>
<html lang="en">
<head>
     {{>headlinks}}
</head>
<body>
  
{{>navbar}}

<!--main header-->
<div class="containter-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 max-auto">
            <div class="row">
                <!--left side div-->

                <div class="col-md-6 col-12 main_header_right algin-items-center">

                    <figure><img src="image/WhatsApp_Image_2024-09-03_at_6.21.21_PM-removebg-preview.png" alt="Sayan" class="img-fluid" title="sayan chkraborty"></figure>

                </div>

                <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome to weather App</p>
                    <h1>I am a  <span class="text_clr"> mern stack Developer </span> and a college student </h1>
                    <a href="https://github.com/akasayan001" target="_sayan"><button>About me</button></a>

                </div>
                <!--right side div-->

            </div>
</div>
</div>
</div>

<!--footer-->
{{>footer}}


   
</body>
</html>